h1.titulo{
text-align: center;
}
div.titulo_color{
    background-color: orangered;
    padding: 20px;
}
body.body_color{
    background-color: orange;

}
a{

margin-left: 10px ;
}
div.menu{
    background-color: tan;
    text-align: center;
    box-sizing: border-box;
    border-style:dashed ;
}
div.content {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    border: 4px dotted red;
    background-color: lightsalmon;
}
footer{
    background-color: lightyellow;
    margin-top: 450px;
    text-align: center;
    height: 40px;
}
